.title-img-container {
    position: relative;
    text-align: center;
    // color: white;
    padding-bottom: 5%;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color:  white;
    width: 30%;
    @media(max-width: 800px){
      font-size: 60px;
      width: 50%;
      top: 40%;
    }
    @media(max-width: 500px){
      font-size: 30px;
      width: 40%;
      top: 40%;
    }
  }

  div.below-btn{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);  
    .custom-btn(@bg-color, @font-color);
    @media(max-width: 800px){
      width: 100px; 
    }
    @media(max-width: 500px){
      bottom: 20%;
      width: 100px;
    }
  }
  
  

  section.artists-container{
    display: flex;
    @media(max-width: 500px){
      .custom-layout3;
    }
  }

  div.artist{
    width: 50%;
    .custom-layout2;
    @media(max-width: 500px ){
      display: flex;
      flex-direction: column;
    }
  }
  div.artist img{
    width: 350px;
    height: 300px;
    border-radius: .25rem;
    margin: 4%;
    @media(max-width: 500px){
      width: 250px;
      height: 200px;
    }
  }

  div.bio{
    width: 40vw;
    font-size: 18px;
    padding-bottom: 5%;
    .align-center;
  }

  a{
    font-size: 22px;
    color: @bg-color;
    padding-bottom: 3%;
  }

  img:hover{
    opacity: 80%;
  }

  @media(max-width: 500px){
    body{
        max-width: 500px;
    }
  }